<template>
    <div>
        <div class="mb-4">
            <div class="flex mb-2 space-x-1 text-sm">
                <select v-model="selected" class="w-9/12 p-2 border dark-mode:bg-gray-700 dark-mode:text-white dark-mode:border-gray-600">
                    <option value="-1" selected>Vyber aktivitu</option>
                    <option v-for="(activity, index) in activities" v-bind:value="index">{{ activity.title }}</option>
                </select>
                <input
                    class="w-2/12 border shadow-inner p-2 rounded dark-mode:bg-gray-700 dark-mode:text-white dark-mode:border-gray-600"
                    type="number"
                    v-model="duration"
                    placeholder="duration"/>
                <button
                    @click.prevent="append"
                    class="w-1/12 p-2 bg-teal-600 text-white rounded">+
                </button>
            </div>
        </div>

        <div :class="my.length > 0? 'block' : 'hidden'">
            <table class="w-full text-gray-700 text-sm">
                <thead class="bg-gray-600 text-white">
                <tr>
                    <th class="py-2">Aktivita</th>
                    <th class="py-2">čas</th>
                    <th class="py-2">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr class="border-t border-gray-600 dark-mode:border-gray-700 dark-mode:text-gray-400" v-for="(activity, index) in my">
                    <td class="py-2 px-1">{{ activity.title }}</td>
                    <td class="py-2 px-1 text-right">{{ activity.duration }}min</td>
                    <td class="py-2 px-1 text-right">
                        <a
                            href="#"
                            class="px-2 py-1 rounded text-white bg-red-600 hover:bg-red-700"
                            @click.prevent="remove(index)"
                        >-</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="border-t border-gray-600 dark-mode:border-gray-700 dark-mode:text-gray-400">
                    <td class="py-2 px-1">Celkem energie</td>
                    <td class="py-2 px-1 text-right"><strong>{{ totalEnergy }}kcal</strong></td>
                    <td class="py-2 px-1 text-right"></td>
                </tr>
                </tfoot>

            </table>
        </div>
    </div>
</template>

<script>
    export default {

        computed: {
            totalEnergy: function() {
                let energy = 0;
                let weight = 72;

                this.my.forEach((item, index) => {
                    energy += item.duration * item.energy * weight;
                });

                return Math.round(energy);
            }
        },

        mounted: function() {
            axios.get('/api/activities').then((response) => {
                this.activities = response.data;
            }).catch(() => {
            });
        },

        methods: {
            append: function() {
                if (this.selected < 0) {
                    return;
                }

                let newItem = this.activities[this.selected];
                newItem.duration = this.duration;

                this.my.forEach((item, index) => {
                    if (item.id === newItem.id) {
                        this.my.splice(index, 1);
                    }
                });

                this.my.push(newItem);

                this.duration = "";
                this.selected = -1;
            },

            remove: function(index) {
                this.my.splice(index, 1)
            },
        },

        data: function() {
            return {
                duration: "",
                selected: -1,

                activities: [],
                my: []
            }
        }

    }
</script>

<style scoped>

</style>
