<template>
    <div>
        <form>
            <div class="mb-2">
                <label class="md:w-2/3 block text-gray-700 dark-mode:text-gray-300" v-for="(allergen, index) in allergens">
                    <input class="mr-2 leading-tight" type="checkbox" v-model="my" :value="allergen.id" name="my"/>
                    <span class="text-sm">{{ allergen.title }}</span>
                </label>
            </div>

            <button
                @click.prevent="save"
                class="w-full p-2 bg-teal-500 hover:bg-teal-400 border border-teal-500 shadow rounded text-sm text-white">
                Uložit filtr
            </button>
        </form>

    </div>
</template>

<script>
    export default {
        mounted: function() {
            axios.get('api/allergens').then((response) => {
                this.allergens = response.data;
            }).catch((e) => {
                console.log(e)
            })
        },
        data: function() {
            return {
                allergens: [],
                my: [],
            }
        },
        methods: {
            save: function() {
                console.log(this.my)
            }
        }
    }
</script>

<style scoped>

</style>
