<template>
    <div class="w-full md:w-1/2">

        <div class="flex mb-2 space-x-2">
            <input type="hidden" v-model="add_id"/>

            <input
                type="text"
                v-model="add_title"
                placeholder="Type id or text .. ..."
                class="p-2 border w-full text-sm text-gray-800 rounded dark-mode:bg-gray-700 dark-mode:text-white dark-mode:border-gray-600"
                @keyup="add_changed"
            />

            <button
                class="p-2 bg-teal-600 hover:bg-teal-700 text-white rounded"
                @click.prevent="add">+
            </button>

            <button
                class="p-2 bg-red-600 hover:bg-red-700 text-white rounded"
                @click.prevent="reset">x
            </button>

        </div>


        <ul v-if="suggestions.length > 0" class="text-white text-sm">
            <li v-for="(suggestion, index) in suggestions" class="px-4">
                <a href="#" @click.prevent="fill(suggestion.id)">
                    {{ suggestion.title }} ({{ suggestion.id }}/ {{ index }})
                </a>
            </li>
        </ul>


        <table class="w-full table-auto text-white text-sm" v-show="menu.length > 0">
            <thead>
            <tr class="bg-gray-600 dark-mode:bg-gray-700">
                <th class="py-2"></th>
                <th class="py-2">Proteins (g)</th>
                <th class="py-2">Fat (g)</th>
                <th class="py-2">Carbo (g)</th>
                <th class="py-2">Energy (kCal)</th>
                <th class="py-2"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="border-t border-gray-400 text-gray-700 dark-mode:border-gray-700 dark-mode:text-gray-400" v-for="(meal, index) in menu">
                <td class="px-2 py-2">{{ meal.title }} ({{ meal.id }})</td>
                <td class="px-2 py-2">{{ meal.proteins }}</td>
                <td class="px-2 py-2">{{ meal.fats }}</td>
                <td class="px-2 py-2">{{ meal.carbohydrates }}</td>
                <td class="px-2 py-2">{{ meal.energy }}</td>
                <td class="px-2 py-2">
                    <a href="#" @click.prevent="remove" class="px-2 py-1 rounded text-white bg-red-600 hover:bg-red-700">-</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr class="border-t border-gray-400 text-gray-700 dark-mode:border-gray-700 dark-mode:text-gray-400">
                <td class="px-2 py-2">Sum</td>
                <td class="px-2 py-2">{{ sum.proteins }}</td>
                <td class="px-2 py-2">{{ sum.fats }}</td>
                <td class="px-2 py-2">{{ sum.carbohydrates }}</td>
                <td class="px-2 py-2">{{ sum.energy }}</td>
                <td class="px-2 py-2"></td>
            </tr>

            </tfoot>
        </table>
    </div>
</template>

<script>
    export default {
        name: "DailyMenuComponent",

        data: function() {

            return {
                add_id: null,

                add_title: '',

                menu: [],

                suggestions: [],
            }
        },

        computed: {

            sum: function() {

                let proteins = 0;
                let fats = 0;
                let carbohydrates = 0;
                let energy = 0;

                this.menu.forEach((item) => {
                    proteins += parseInt(item.proteins);
                    fats += item.fats;
                    carbohydrates += item.carbohydrates;
                    energy += item.energy;
                });

                return {
                    proteins: proteins,
                    fats: fats,
                    carbohydrates: carbohydrates,
                    energy: energy
                }
            }
        },

        methods: {

            reset: function() {
                this.menu = [];
            },

            remove: function(index) {
                this.menu.splice(index, 1);
            },

            add: function() {

                axios.get('/api/meals/' + this.add_id).then((response) => {
                    // console.log(response.data);
                    this.menu.push(response.data);

                    // reset form
                    this.add_id = null;
                    this.add_title = '';
                    this.suggestions = [];
                }).catch((e) => {
                    console.log(e.message)
                });
            },

            fill: function(id) {
                this.add_id = id;
                this.add();
            },

            add_changed: function() {
                if (this.add_title.length < 4) {
                    // do nothing
                    return;
                }

                axios.get('/api/meals?title=' + this.add_title).then((response) => {
                    let meals = response.data;

                    this.suggestions = meals;
                }).catch((e) => {
                    }
                );
            }
        }
    }
</script>

<style scoped>

</style>
