<template>
    <div class="w-full sm:w-1/2 lg:w-1/3">
        <form class="mb-4 text-gray-700 dark-mode:text-gray-500">
            <div class="mb-4">
                <label for="energy-input" class="text-sm">Cílový příjem energie (kcal)</label>
                <input v-model="requestedEnergy" id="energy-input" class="p-2 border w-full text-sm text-gray-800 rounded dark-mode:bg-gray-700 dark-mode:text-white dark-mode:border-gray-600" type="number">
            </div>
            <div>
                <button
                    @click.prevent="compute"
                    class="w-full p-2 bg-teal-500 hover:bg-teal-400 border border-teal-500 shadow rounded text-sm text-white">Spočítat
                </button>
            </div>
        </form>

        <table :class="showNutrients? '' : 'hidden'" class="w-full table-auto text-white text-sm mb-2">
            <thead class="bg-gray-600 dark-mode:bg-gray-700">
            <tr>
                <th class="py-2">Živina</th>
                <th class="py-2">Energie</th>
                <th class="py-2">Váha</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="nutrient in nutrients" class="border-t border-gray-400 text-gray-700 dark-mode:border-gray-700 dark-mode:text-gray-400">
                <td class="p-1">{{ nutrient.name }}</td>
                <td class="p-2 text-right">{{ nutrient.energy }}kcal</td>
                <td class="p-2 text-right">{{ nutrient.weight }}g</td>
            </tr>
            </tbody>
        </table>

        <table :class="showNutrients? '' : 'hidden'" class="w-full table-auto text-white text-sm">
            <thead class="bg-gray-600 dark-mode:bg-gray-700">
            <tr>
                <th class="py-2">Jídlo</th>
                <th class="py-2">Energie</th>
                <th class="py-2">S</th>
                <th class="py-2">B</th>
                <th class="py-2">T</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="meal in meals" class="border-t border-gray-400 text-gray-700 dark-mode:border-gray-700 dark-mode:text-gray-400">
                <td class="p-1">{{ meal.name }}</td>
                <td class="p-2 text-right">{{ meal.energy }}kcal</td>
                <td class="p-2 text-right">{{ meal.carbohydrates }}g</td>
                <td class="p-2 text-right">{{ meal.proteins }}g</td>
                <td class="p-2 text-right">{{ meal.fats }}g</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                requestedEnergy: 2200,
                showNutrients: false,
                nutrients: [],
                meals: [],
            }
        },
        methods: {
            compute: function() {
                this.showNutrients = true;

                // naive computing
                this.nutrients = [
                    {
                        "name": "Bílkoviny",
                        "energy": Math.round(0.15 * this.requestedEnergy),
                        "weight": Math.round(0.15 * this.requestedEnergy / 4)

                    },
                    {
                        "name": "Sacharidy",
                        "energy": Math.round(0.55 * this.requestedEnergy),
                        "weight": Math.round(0.55 * this.requestedEnergy / 4)
                    },
                    {
                        "name": "Tuky",
                        "energy": Math.round(0.30 * this.requestedEnergy),
                        "weight": Math.round(0.30 * this.requestedEnergy / 9)
                    }
                ];

                this.meals = [
                    {
                        name: "Snídaně",
                        energy: Math.round(this.requestedEnergy * 0.25),
                        proteins: Math.round(this.nutrients[0].weight * 0.25),
                        carbohydrates: Math.round(this.nutrients[1].weight * 0.25),
                        fats: Math.round(this.nutrients[2].weight * 0.25),
                    },
                    {
                        name: "Svačina",
                        energy: Math.round(this.requestedEnergy * 0.10),
                        proteins: Math.round(this.nutrients[0].weight * 0.10),
                        carbohydrates: Math.round(this.nutrients[1].weight * 0.10),
                        fats: Math.round(this.nutrients[2].weight * 0.10),
                    },
                    {
                        name: "Oběd",
                        energy: Math.round(this.requestedEnergy * 0.30),
                        proteins: Math.round(this.nutrients[0].weight * 0.30),
                        carbohydrates: Math.round(this.nutrients[1].weight * 0.30),
                        fats: Math.round(this.nutrients[2].weight * 0.30),
                    },
                    {
                        name: "Svačina",
                        energy: Math.round(this.requestedEnergy * 0.10),
                        proteins: Math.round(this.nutrients[0].weight * 0.10),
                        carbohydrates: Math.round(this.nutrients[1].weight * 0.10),
                        fats: Math.round(this.nutrients[2].weight * 0.10),
                    },
                    {
                        name: "Večeře",
                        energy: Math.round(this.requestedEnergy * 0.25),
                        proteins: Math.round(this.nutrients[0].weight * 0.25),
                        carbohydrates: Math.round(this.nutrients[1].weight * 0.25),
                        fats: Math.round(this.nutrients[2].weight * 0.25),
                    },
                ];
            }
        }
    }
</script>

<style scoped>

</style>
