<script>
    export default {

        data: function() {
            return {
                profile: {
                    age: 35,
                    gender: 'M',
                    height: 173,
                    weight: 72,
                    activity_level: 0.4,
                    stress_level: 0.1,
                },

                body: {
                    bmi: 0,
                    bmr: 0,
                    total: 0
                },

                show_results: false
            }
        },
        methods: {
            reset: function() {
                this.show_results = false;

                this.body = {
                    bmi: 0,
                    bmr: 0,
                    total: 0,
                }
            },

            compute: function() {
                axios.post('/api/bmr', this.profile).then((response) => {
                    this.body = response.data;
                }).catch((e) => {
                    console.error(e.response)
                });

                this.show_results = true;
            },
        }
    }
</script>

<template>
    <div class="">
        <form>
            <div class="mb-2 text-gray-700 dark-mode:text-gray-500">
                <label class="block text-sm">Věk <sup class="text-red-600">*</sup> <small>(12-85 let)</small></label>
                <input
                    v-model="profile.age"
                    type="number"
                    class="p-2 border w-full text-sm text-gray-800 rounded dark-mode:bg-gray-700 dark-mode:text-white dark-mode:border-gray-600"/>
            </div>

            <div class="mb-2 text-gray-700 dark-mode:text-gray-500">
                <label class="block text-sm">Gender <sup class="text-red-600">*</sup></label>
                <select
                    v-model="profile.gender"
                    class="block appearance-none w-full border text-gray-800 text-sm py-3 px-2 pr-8 rounded leading-tight dark-mode:bg-gray-700 dark-mode:text-white dark-mode:border-gray-600">
                    <option value="M">Muž</option>
                    <option value="F">Žena</option>
                </select>
            </div>

            <div class="mb-4 text-gray-700 dark-mode:text-gray-500">
                <label class="block text-sm">Výška <sup class="text-red-600">*</sup> <small>(75-220cm)</small></label>
                <input
                    v-model="profile.height"
                    type="number"
                    class="p-2 border w-full text-sm text-gray-800 rounded dark-mode:bg-gray-700 dark-mode:text-white dark-mode:border-gray-600"/>
            </div>

            <div class="mb-2 text-gray-700 dark-mode:text-gray-500">
                <label class="block text-sm">Váha <sup class="text-red-600">*</sup> <small>(30-140kg)</small></label>
                <input
                    v-model="profile.weight"
                    type="number"
                    class="p-2 border w-full text-sm text-gray-800 rounded dark-mode:bg-gray-700 dark-mode:text-white dark-mode:border-gray-600"/>
            </div>

            <div class="mb-2 text-gray-700 dark-mode:text-gray-500">
                <label class="block text-sm">Běžná denní aktivita</label>
                <select
                    name="common_activity"
                    v-model="profile.activity_level"
                    class="block appearance-none w-full border text-gray-800 text-sm py-3 px-2 pr-8 rounded leading-tight dark-mode:bg-gray-700 dark-mode:text-white dark-mode:border-gray-600">
                    <option value="0.2">Sedavé zaměstnání (úředník, kancelářská práce)</option>
                    <option value="0.4">Středně aktivni (běžné manuální zaměstnání)</option>
                    <option value="0.8">Vysoce fyzicky náročné (horník, dřevorubec)</option>
                </select>
            </div>

            <div class="mb-6 text-gray-700 dark-mode:text-gray-500">
                <label class="block text-sm">Stres <small>(from lowest to highest)</small></label>
                <input
                    v-model="profile.stress_level"
                    class="rounded-lg overflow-hidden appearance-none h-4 w-full mt-2 text-white bg-gray-300 dark-mode:bg-gray-600"
                    type="range"
                    min="0"
                    max="1"
                    step="0.05"/>
            </div>

            <div class="">
                <input
                    @click.prevent="compute"
                    type="button"
                    class="w-full shadow bg-teal-500 hover:bg-teal-400 p-3 rounded text-white text-sm"
                    value="Spočítat BMI/BMR"/>
            </div>
        </form>

        <div class=" text-white text-sm" v-if="show_results">
            <div class="w-full flex space-x-1 mt-4 mb-2">
                <div class="w-1/2 px-1 py-2 border rounded border-teal-700 shadow bg-teal-600 text-center">
                    BMI: {{ this.body.bmi }}
                </div>
                <div class="w-1/2 px-1 py-2 border rounded border-teal-700 shadow bg-teal-600 text-center">
                    Total: {{ this.body.total }} kcal
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="w-full">
        <div class="mb-2">
            <label class="block text-sm text-gray-700">Další aktivity (v minutách)</label>
            <div class="flex">
                <select
                    class="w-3/6 appearance-none bg-gray-500 border border-gray-500 text-white text-sm py-3 px-2 pr-8 rounded-none rounded-l">
                    <option>Aktivita</option>
                    <option value="0.102">aerobik (střední tempo)</option>
                    <option value="0.176">běh 10km/h</option>
                    <option value="0.052">chůze 4km/h</option>
                    <option value="0.095">chůze 6km/h</option>
                    <option value="0.125">cyklistika 19km/h</option>
                </select>
                <input type="number"
                       class="w-2/6 p-2 border w-full text-sm text-gray-800 border-gray-500"/>
                <input type="button"
                       class="w-1/6 text-sm rounded-r bg-gray-500 border-gray-400 hover:bg-gray-600 px-2 text-white"
                       value="přidat"/>
            </div>
        </div>
    </div>
-->
</template>

<style scoped>
    @media screen and (-webkit-min-device-pixel-ratio: 0) {
        input[type="range"]::-webkit-slider-thumb {
            width:              15px;
            -webkit-appearance: none;
            appearance:         none;
            height:             15px;
            cursor:             ew-resize;
            background:         #fff;
            box-shadow:         -405px 0 0 400px #605e5c;
            border-radius:      50%;
        }
    }
</style>
